.divButtonEdit,
.divButtonDelete,
.divButtonRemove {
  border-radius: 5px;
  border: none;
  color: white;
}

.divButtonEdit {
  margin-left: auto;
  color: rgb(170, 168, 168);
}

.divButtonDelete {
  margin-right: 10px;
  margin-left: 8px;
  color: rgb(170, 168, 168);
}

.divButtonRemove {
  color: rgb(170, 168, 168);
  margin-left: auto;
  margin-right: 15px;
}

.divButtonEdit i {
  padding: 3px;
  padding-bottom: 4px;
  padding-left: 2px;
}

.divButtonDelete i {
  padding: 3px;
  padding-bottom: 4px;
  padding-left: 2px;
}

.divButtonRemove i {
  padding: 4px;
  padding-bottom: px;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 4px;
}

.divButtonEdit:hover {
  background: rgb(47, 133, 204);
  color: white;
  transition: all 1s;
}

.divButtonDelete:hover {
  background-color: #e53225;
  color: white;
  transition: all 1s;
}

.divButtonRemove:hover {
  background: #0f9e16;
  color: white;
  transition: all 1s;
}

.divEditTodo input {
  border: none;
  outline: none;
  height: 40px;
  border-radius: 5px;
  padding-left: 12px;
}

.divEditTodo textarea:hover,
.divEditTodo input:hover {
  outline: none;
  background: rgb(240, 240, 240);
  transition: all 1s;
}

.strikethrough {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.strikethrough:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.6);
  margin-top: -0.7em;
  background: black;
  transform-origin: center left;
  animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  animation-fill-mode: backwards;
}

/* Little hover effect */

.strikethrough:hover {
  color: rgba(200, 0, 0, 1);
  background: rgba(255, 189, 182, 0.3);
}

.strikethrough:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
